*{
    margin: 0;
    padding: 0;
}
header{
    height: 150px;
    width: 100%;
    background-color: plum;
}
h1{
    text-align: center;
}
p{
    padding: 20px;
    color: brown;
}
main{
    height: 500px;
    width: 100%;
    background-color: burlywood;
}
h2{
    color: darkslateblue;
    text-align: center;
}